### LIBRERÍAS NECESARIAS PARA EL PROYECTO
## Librerías principales
# Para trabajar con datos
numpy
pandas
protobuf

# Para visualizar datos con gráficos
matplotlib
seaborn
plotly
plotly.express


# Para trabajar con tests estadísticos
scipy

# Para trabajar con series temporales
statsmodels
pmdarima
neuralprophet
scikit-learn
ipywidgets

## Librerías para vídeos
# Para realizar un vídeo con los datos
bar_chart_race
ffmpeg-python

## Librerías para países
# Para poder trabajar con países
geopy
pycountry_convert

## Librerías Para Web Scraping
# Para guardar información en un archivo Excel:
XlsxWriter

# Para manejar las peticiones de acceso a la web y descarga de contenido.
requests

# Para el manejo de los datos descargados.
beautifulsoup4

## Librerías para Streamlit
streamlit